<h1 class="display-4">Add new page</h1>
<form action="/admin/pages/create" method="POST">
	<div class="form-group">
		<label for="name">Title</label>
		<input class="form-control" name="name" value="name" id="name" type="text">
	</div>
	<div class="form-group">
		<label for="slug">Url slug</label>
		<input class="form-control" name="slug" value="slug" id="slug" type="text">
	</div>
	<div class="form-group">
		<label for="meta">Meta description</label>
		<input class="form-control" name="meta" value="meta" id="meta" type="text">
	</div>
	<div class="form-group">
		<label for="content">Content</label><textarea  name="content" id="content" type="text"></textarea>
	</div>
	<a class="nav-link" href="/admin/pages">To pages list</a>
	<button class="btn btn-primary" type="submit" name="action">Submit</button>
</form>
