<!DOCTYPE html>
<html>
<head>
	{{#if page}}
		<title>{{page.name}}</title>
		<meta name="description" content={{page.meta}}>
	{{/if}}

	<meta charset="utf-8"/>
	<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'/>
	<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
	      type="text/css"/>
	<script type="text/javascript"
	        src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
</head>
<body>

<div class="jumbotron">
	<div class="container">
		{{{body}}}
	</div>
</div>
<script>
	new FroalaEditor('#content');
</script>
</body>
</html>
